@import "helpers/variable";
@import "helpers/mixin";
@import "component/button";

body{
    .container{
        .product-detail{position: relative;
            width: 1180px;
            height: 530px;display:flex;flex-direction: column;
            .photo{
                position: absolute;
                width: 334px;
                height: 355px;
                left: 65px;
                top: 58px;
                background-color: #f8f8f8;
                img{
                    position: absolute;
                    width: 220px;
                    height: 176px;
                    left: 57px;
                    top: 109px;

                }
            }
            .detail{
                position: absolute;
                width: 300px;
                height: 36px;
                left: 527px;
                top: 67px;
                
                h1{
                    @include textNormal($fs-3xl,$fw-normal,$fc-dark,)
                }
                .descriptionDetail{
                    
                }
                span{
                    @include textNormal($fs-2xl,$fw-medium,$fc-green,)
                }
                .catalogue-size{display: flex;flex-direction: row;margin-top: 20px;
                
                        .btnsize{@extend .btnSize;display: block;margin-right: 20px;text-align: center;@include textNormal($fs-2xl,$fw-semibold,$fc-dark,)}
                        }
                   
                h3{@include textNormal($fs-3xl,$fw-semibold,$fc-red,);margin-top:20px;}
                .changethenumber{display: flex;
                    #btnup{
                        @include textNormal($fs-3xl,$fw-regular ,$fc-light , );
                        @extend .btnUpDown;
                    }
                    input{ width: 50px;text-align: center;
                    outline: none;
                            border:none
    
                        
                    }
                    #btndown{
                        @include textNormal($fs-3xl,$fw-regular ,$fc-light , );
                        @extend .btnUpDown;
                    }
                }
                #btn-add-to-cart{
                    margin-top: 10px;
                    @include textNormal($fs-2xl,$fw-medium,$fc-light,);
                    @extend .btnAdd2Cart;
                }
        
                
               } 
               
                 }
                 @media only screen and (max-width:768px){
                    width: 768px   ;position: relative;;
                    .product-detail{
                        .photo{
                            .img{
                                width: 200px;
                                height: 150px;
                            }
                        }
                        .detail{
                            position: absolute;
                            top: 450px;
                            left: 30px;width: 100%;
                            
                            .catalogue-size{
                               display: grid;
                               grid-template-columns: 70px 70px 70px 70px 70px;
                               grid-template-rows: 70px 70px ;
                              .btnsize{
                                margin-top: 10px;
                                margin-right: 20px;
                              }
                             
                            }
                            h3{
                                text-align: start
                              }
                              #btn-add-to-cart{}
                        
                         }
                    };                
             }
        
        }

    }
    
