// font-size
$fs-normal:16px;
$fs-xl:20px;
$fs-2xl:24px;
$fs-3xl:40px;
// background-color:

$bg-dark:#000000;
$bg-light: #f5f5f5;
$bg-grey-0:#F8F8F8;
$bg-grey-1:#CBC9C9;
$bg-grey-2:#DEDDDC;
$bg-brown-1: #E1B067;
$bg-brown-0:#F8B653;
$bg-purple: #AE18E2;
$g-purple-gradient: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);

// font-family
$font-normal:'Inter';






