.buttonBuy {
  border: 1px solid none;
  border-radius: 1px;
  background-color: #F8B653;
  width: 150px;
  height: 50px;
  transition: background-color 0.3s;
}
.buttonBuy:hover {
  background-color: #f2a229;
  transition: all 0.3s;
}

.buttonIndicator {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.btnSize {
  background-color: #CCCCCC;
  border-radius: 0px;
  border: none;
  width: 50px;
  height: 50px;
}

.btnUpDown {
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  border: none;
  width: 50px;
  height: 50px;
}

.btnAdd2Cart {
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  border: none;
  border-radius: 0px;
  width: 175px;
  height: 64px;
}

.btnSubmit {
  background: #AE18E2;
  border: none;
  border-radius: 0px;
  width: 291px;
  height: 50px;
}

.inputEdit, body form table .tr-3 td:nth-child(1) input, body form table .tr-2 td input, body form table .tr-1 td input {
  width: 482px;
  height: 51px;
  position: relative;
  margin-top: 15px;
  margin-right: 60px;
}
.inputEdit::placeholder, body form table .tr-3 td:nth-child(1) input::placeholder, body form table .tr-2 td input::placeholder, body form table .tr-1 td input::placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #140101;
  font-family: "Inter";
}
.inputEdit, body form table .tr-3 td:nth-child(1) input, body form table .tr-2 td input, body form table .tr-1 td input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #AE18E2;
}

.editInput .buttonRadio, body form table .tr-3 .buttonRadio {
  display: block;
  position: relative;
  width: 19%;
  margin: 0 auto;
}
.editInput .buttonRadio input[type=radio], body form table .tr-3 .buttonRadio input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.editInput .buttonRadio label, body form table .tr-3 .buttonRadio label {
  display: block;
  position: relative;
  font-size: 30px;
  line-height: 30px;
  padding: 5px 10px 5px 40px;
  margin: 5px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
.editInput .buttonRadio .outer-circle, body form table .tr-3 .buttonRadio .outer-circle {
  display: block;
  position: absolute;
  border: 3px solid #D9D9D9;
  border-radius: 100%;
  height: 41px;
  width: 41px;
  top: 2px;
  left: 0px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}
.editInput .buttonRadio .outer-circle:before, body form table .tr-3 .buttonRadio .outer-circle:before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 23px;
  width: 23px;
  top: 5px;
  left: 6px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.editInput .buttonRadio input[type=radio].circle-1 ~ .outer-circle, body form table .tr-3 .buttonRadio input[type=radio].circle-1 ~ .outer-circle {
  background-color: #D9D9D9;
}
.editInput .buttonRadio input[type=radio].circle-2 ~ .outer-circle, body form table .tr-3 .buttonRadio input[type=radio].circle-2 ~ .outer-circle {
  background-color: #D9D9D9;
}
.editInput .buttonRadio input[type=radio].circle-1checked ~ .outer-circle, body form table .tr-3 .buttonRadio input[type=radio].circle-1checked ~ .outer-circle {
  border: 3px solid #D9D9D9;
}
.editInput .buttonRadio input[type=radio].circle-1:checked ~ .outer-circle::before, body form table .tr-3 .buttonRadio input[type=radio].circle-1:checked ~ .outer-circle::before {
  background: #AE18E2;
}
.editInput .buttonRadio input[type=radio].circle-2:checked ~ .outer-circle, body form table .tr-3 .buttonRadio input[type=radio].circle-2:checked ~ .outer-circle {
  border: 3px solid #D9D9D9;
}
.editInput .buttonRadio input[type=radio].circle-2:checked ~ .outer-circle::before, body form table .tr-3 .buttonRadio input[type=radio].circle-2:checked ~ .outer-circle::before {
  background: #AE18E2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body form {
  text-align: center;
}
body form h1 {
  font-size: 40px;
  font-weight: 400;
  color: #140101;
  font-family: "Inter";
  margin-bottom: 40px;
}
body form table .tr-1 td input {
  position: relative;
}
body form table .tr-2 td {
  padding-top: 25px;
}
body form table .tr-3 {
  margin-top: 40px;
}
body form table .tr-3 td:nth-child(2) {
  padding-top: 45px;
  display: flex;
  font-size: 30px;
  font-weight: 400;
  color: #140101;
  font-family: "Inter";
}