* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: #000000;
}
.nav img{
    width: 116px;
    height: 32px;
    left: 24px;
    top: 10px;

}
.nav i{
    margin-left: 914px;
    color: aliceblue;
}
.nav a{
    color: aliceblue;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: ;
    height: 50px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 10px;
}

a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}
.nav-menu a:hover{
    text-decoration: underline;
}
/*collection*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    width: calc(33.33% - 10px);
    height: 150px;
    margin-bottom: 20px;
    background-color: #ccc;
  }
  